{{define "content"}}
<article>
    <h3>Preserving Form Inputs</h3>
    <form method="POST" lvt-form:preserve>
        <fieldset>
            <label>Name
                <input name="name" value="{{.Name}}" required>
            </label>
            <label>Description
                <textarea name="description">{{.Description}}</textarea>
            </label>
            <label>Attachment
                <input type="file" name="attachment">
            </label>
            <button type="submit">Submit</button>
        </fieldset>
    </form>
    {{.lvt.FlashTag "success"}}
    {{.lvt.ErrorTag "name"}}
</article>
{{end}}
